@{
    ViewData["Title"] = "Página do Aluno";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1-aluno>Página do Aluno</h1-aluno>
<p-aluno>Bem-vindo à sua página, @User.Identity.Name!</p-aluno>

<div class="container-aluno">
    <div class="card-container-aluno">
        <div class="card">
            <h2>Dashboard</h2>
            <p>Aqui pode consultar diversos tipos de comentários, incluindo Reclamações, Sugestões e Elogios.</p>
            <a class="btnMenu" href="@Url.Action("Dashboard", "Home")">Aceder</a>
        </div>
        <div class="card a">
            <h2>Comentários</h2>
            <p>Aqui pode consultar diversos tipos de comentários, incluindo Reclamações, Sugestões e Elogios.</p>
            <a class="btnMenu" href="@Url.Action("CreateSugestaoReclamacao", "ReclamacoesSugestoes")">Aceder</a>
        </div>
        
        <div class="card">
            <h2>Elogios</h2>
            <p>Aqui pode consultar diversos opinioes acerca do IPVC ou outras Instituições do IPVC, incluindo Elogios.</p>
            <a class="btnMenu" href="@Url.Action("CreateElogio", "Elogio")">Aceder</a>
        </div>
    </div>
</div>
