@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />

<!-- Container principal com a classe PagInicial -->
<div class="PagInicial">

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/Imagens/estg.jpg" alt="Imagem da ESTG">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/Imagens/ESTG (1).jpg" alt="Imagem da ESTG 1">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/Imagens/images.jpeg" alt="Imagem ilustrativa">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </a>
    </div>

    <!-- Main Content -->
    <div class="container my-2">
        <!-- Welcome Section -->
        <div class="p-2 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold custom-font-welcome">Bem vindo ao IPVC-Escuta.</h1>
                <p class="col-12 fs-4 custom-font-text">O sistema de partilha de Recomendações e Sugestões que é ótimo para a gestão do dia a dia da sua Instituição. Para ter acesso a informações exclusivas desse sistema, você terá que fazer seu login ou registro.</p>
            </div>
        </div>
    </div>
    <br>

    <!-- Seção de Serviços -->
    <div class="container text-center mb-5">
        <div class="row row-equal row-spacing">
            <h2 style="margin-bottom: 30px;">Serviços</h2>
            <div class="row row-equal row-spacing">
                <div class="col-md-4">
                    <div class="card card-index" style="width: 18rem;">
                        <img src="/Imagens/Portal_De_Acesso_Seguro.png" class="card-img-top" alt="Portal de Acesso Seguro">
                        <div class="card-body">
                            <h5 class="card-title">Portal de Acesso Seguro</h5>
                            <p class="card-text">O "Portal de Acesso Seguro" é o serviço de autenticação e registo da plataforma, garantindo que apenas os membros autorizados da comunidade do IPVC possam interagir no sistema. Com perfis personalizados para alunos, professores e funcionários, o portal oferece a possibilidade de envio de sugestões e reclamações de forma identificada ou anónima, promovendo a confiança e privacidade dos utilizadores.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-index" style="width: 18rem;">
                        <img src="/Imagens/Gestao_Feedback.png" class="card-img-top" alt="Gestão de Feedback e Prioridades">
                        <div class="card-body">
                            <h5 class="card-title">Gestão de Feedback e Prioridades</h5>
                            <p class="card-text">A "Gestão de Feedback e Prioridades" permite a submissão eficiente de sugestões e reclamações, categorizadas por prioridade (baixa, média ou alta) e tipo (pedagógicas, administrativas, infraestruturas, etc.). Esse serviço organiza as interações de forma eficaz, garantindo que as questões mais urgentes sejam tratadas rapidamente e as melhorias mais importantes sejam implementadas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-index" style="width: 18rem;">
                        <img src="/Imagens/Monitoramento.png" class="card-img-top" alt="Monitoramento de Respostas e Soluções">
                        <div class="card-body">
                            <h5 class="card-title">Monitoramento de Respostas e Soluções</h5>
                            <p class="card-text">O "Monitoramento de Respostas e Soluções" oferece aos utilizadores a capacidade de acompanhar o progresso das suas submissões em tempo real. Com transparência total no processo, os utilizadores podem verificar o estado das suas sugestões ou reclamações, desde a submissão até à resolução, assegurando uma comunicação clara entre a comunidade do IPVC e a administração.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
