@{
    ViewData["Title"] = "Sobre a ESTG";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="header-sobre">
    <h1>ESTG - Escola Superior de Tecnologia e Gestão</h1>
    <p>Instituto Politécnico de Viana do Castelo</p>
</div>

<div class="container-fluid">
    <div class="container">
        <section>
            <div class="row">
                <!-- Navegação -->
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="#sobre">Sobre a ESTG</a>
                        <a class="list-group-item list-group-item-action" href="#cursos">Cursos Disponíveis</a>
                    </div>
                </div>

                <!-- Conteúdo Principal -->
                <div class="col-12 col-md-8">
                    <div class="scrollspy-example" tabindex="0">
                        <h4 id="sobre">Sobre a ESTG</h4>
                        <p>A Escola Superior de Tecnologia e Gestão (ESTG) é uma das escolas do Instituto Politécnico de Viana do Castelo (IPVC), dedicada à formação superior nas áreas da engenharia, tecnologia, gestão e informática. Desde a sua criação, tem vindo a oferecer cursos de excelência, formando profissionais qualificados e preparados para o mercado de trabalho.</p>
                        <p>Com uma forte ligação à comunidade e ao tecido empresarial, a ESTG proporciona uma formação prática e aplicada, promovendo também a investigação e inovação tecnológica.</p>

                        <h4 id="cursos">Cursos Disponíveis</h4>
                       

                        <div class="row row-equal row-spacing">
                            <!-- Curso 1 -->
                            <div class="col-md-4 d-flex">
                                <div class="card-sobre p-2">
                                    <h5>Licenciatura em Engenharia Informática</h5>
                                    <p>Este curso prepara os alunos para desenvolverem soluções tecnológicas inovadoras, com foco em software, hardware e sistemas de informação.</p>
                                </div>
                            </div>
                            <!-- Curso 2 -->
                            <div class="col-md-4 d-flex">
                                <div class="card-sobre p-2">
                                    <h5>Licenciatura em Engenharia e Gestão Industrial</h5>
                                    <p>Este curso combina as áreas de engenharia e gestão para formar profissionais capazes de otimizar processos industriais e gerenciar operações.</p>
                                </div>
                            </div>
                            <!-- Curso 3 -->
                            <div class="col-md-4 d-flex">
                                <div class="card-sobre p-2">
                                    <h5>Licenciatura em Gestão de Empresas</h5>
                                    <p>Formação de profissionais na área de gestão, capacitados para atuar em ambientes empresariais, desde pequenas a grandes organizações.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-equal">
                            <!-- Curso 4 -->
                            <div class="col-md-6 d-flex">
                                <div class="card-sobre p-2">
                                    <h5>Mestrado em Sistemas de Informação</h5>
                                    <p>Um curso avançado focado no design, desenvolvimento e gestão de sistemas de informação para empresas e organizações.</p>
                                </div>
                            </div>
                            <!-- Curso 5 -->
                            <div class="col-md-6 d-flex">
                                <div class="card-sobre p-2">
                                    <h5>Mestrado em Engenharia de Produção</h5>
                                    <p>Formação especializada em processos de produção, eficiência e gestão de operações industriais avançadas.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Scripts do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
