@{
    ViewData["Title"] = "Funcionario Dashboard";
}
<link rel="stylesheet" href="~/css/site.css" />

<!-- Título e Descrição -->
<div class="text-center my-4">
    <h1 class="h3">Bem-vindo ao Painel do Funcionário</h1>
    <p class="small">Aqui pode aceder às suas tarefas e funcionalidades específicas da função.</p>
</div>

<div class="container-funcionario">
    <div class="card-container-funcionario">
        <div class="card">
            <h2>Dashboard</h2>
            <p>Aqui pode consultar diversos tipos de comentários, incluindo Reclamações, Sugestões e Elogios.</p>
            <a class="btn" href="@Url.Action("Dashboard", "Home")">Aceder</a>
        </div>
        <div class="card a">
            <h2>Comentários</h2>
            <p>Aqui pode consultar diversos tipos de comentários, incluindo Reclamações, Sugestões e Elogios.</p>
            <a class="btn" href="@Url.Action("CreateSugestaoReclamacaoF", "ReclamacoesSugestoes")">Aceder</a>
        </div>

        <div class="card">
            <h2>Elogios</h2>
            <p>Aqui pode consultar diversos opinioes acerca do IPVC ou outras Instituições do IPVC, incluindo Elogios.</p>
                <a class="btn" href="@Url.Action("CreateElogioF", "Elogio")">Aceder</a>
        </div>
    </div>
</div>